# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django
india_earthquake_predictor/db.sqlite3
india_earthquake_predictor/cache/
*.log
local_settings.py

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Project specific
a.py
data.py
